<header class="cabecalho">
  <nav class="cabecalho__menu navbar navbar-light bg-light">
    <a class="cabecalho__menu__links" href="#titulo">Home</a>
    <a class="cabecalho__menu__links" href="#sobre_mim">Sobre mim</a>
    <a class="cabecalho__menu__links" href="#habilidades">Habilidades</a>
    <a class="cabecalho__menu__links" href="#trabalhos_projetos">Projetos</a>
    <a class="cabecalho__menu__links" href="#contatos">Contatos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Navegação</h5>
        <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#titulo">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#sobre_mim">Sobre mim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#habilidades">Habilidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#trabalhos_projetos">Projetos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#contatos">Contatos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
  <section class="caixa__1" id="titulo">
    <img src="/Group 4.png" class="caixa__1__titulo">
  </section>
  <section class="caixa__2" id="sobre_mim">
    <div class="caixa__2__titulo">
          <h1>Sobre mim</h1>
    </div>
    <div class="caixa__2__conteudo">
      <div class="caixa__2__conteudo__imagem">
        <img src="/Group 5 (2).png" class="caixa__2__imagem">  
      </div>
      <div class="caixa__2__conteudo__textos">
        <h2>Olá, pessoal!</h2>
        <p>Olá, meu nome é Bruno, sou formado no curso Análise e Desenvolvimento de Sistemas na  Faculdade Católica Imaculada Conceição do Recife por meio do programa Embarque Digital,  disponibilizado pela Prefeitura do Recife. Me considero uma pessoa amigável e que gosta de  trabalhar em equipe, contribuir para a resolução de problemas e obter novos conhecimentos.</p>
      </div>
    </div>
  </section>
  <section class="habilidades" id="habilidades">
    <div class="habilidades__navegacao">
      <div class="habilidades__navegacao__titulo">
        <h1>Tecnologias e Habilidades</h1>
      </div>
      <div class="habilidades__navegacao__botoes">
        <a (click)="owlCarouselRef.prev()"><img src="/seta-esquerda.png"></a>
        <a (click)="owlCarouselRef.next()"><img src="/seta-direita.png"></a>
      </div>
    </div>
    <div class="habilidades__slide">
      <owl-carousel-o class="habilidades__slide__carousel" [options]=" customOptions" #owlCarouselRef> 
        @for(skill of skillList; track skill.id) {
          <ng-template class="habilidades__slide__carousel__slide" carouselSlide>
            <div class="habilidades__slide__icons">
              <div class="habilidades__slide__icons__icon">
                <img [src]="skill.skillImg">
              </div>
              <div class="habilidades__slide__icons__texto">
                <h2>{{ skill.skillDescription }}</h2>
              </div>
            </div>
          </ng-template>
        }
      </owl-carousel-o> 
    </div>
  </section>
  <section class="projetos" id="trabalhos_projetos">
    <div class="projetos__navegacao">
      <div class="projetos__navegacao__titulo">
        <h1>Trabalhos e Projetos</h1>
      </div>
      <div class="projetos__navegacao__botoes">
        <a (click)="owlCarouselRef2.prev()"><img src="/seta-esquerda.png"></a>
        <a (click)="owlCarouselRef2.next()"><img src="/seta-direita.png"></a>
      </div>
    </div>
    <div class="projetos__slide">
      <owl-carousel-o [options]="customOptions2" #owlCarouselRef2>
        @for(project of projectList; track project.id) {
          <ng-template carouselSlide class="projetos__slide__container__container">
            <div class="projetos__slide__container">
              <div class="projetos__slide__container__img">
                <img [src]="project.projectImg" >
              </div>
              <div class="projetos__slide__container__textos">
                <h1>{{ project.projectTitle }}</h1>
                <h2>{{ project.projectTechnologies }}</h2>
                <p>{{ project.projectDescripiton }}</p>
                <div class="projetos__slide__container__textos__botoes">
                  <a (click)="openDialog(project)"><p>Github</p></a>
                  <a [href]="project.projectDeployLink" target="_blank"><p>Deploy</p></a>
                </div>
              </div>
            </div>
          </ng-template>
        }
      </owl-carousel-o>
    </div>
  </section>
  <section class="contatos" id="contatos">
    <div class="contatos__navegacao">
      <div class="contatos__navegacao__titulo">
        <h1>Formas de Contato</h1>
      </div>
    </div>
    <div class="contatos__links">
      <a href="https://www.linkedin.com/in/brunoantonioalexandrinodasilva/" target="_blank"><p>LinkedIn</p></a>
      <a href="https://github.com/bdev16" target="_blank"><p>GitHub</p></a>
      <a href="mailto:brunoantonio1602@hotmail.com" target="_blank"><p>Gmail</p></a>
    </div>
  </section>
</main>
