
:root{
    
}

body {
    margin: 10%;
}

.cabecalho {
    margin: 2%;
}

.cabecalho__menu {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    gap: 5%;
    padding: 2%;
}

.cabecalho__menu__links {
    font-size: 1.5rem;
    font-family: 'Jersey 25', sans-serif;
    color: black;
    text-decoration: none !important;
}

.cabecalho__menu__links:hover {
    cursor: pointer;
    color: #747474;
}

.navbar-toggler{
    display: none;
}

.caixa__1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20% 0% 0%;
    box-sizing: border-box;
}

.caixa__1__titulo {
    width: 50%;
    height: auto;
}

.caixa__2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20% 0% 0%;
    height: 680px;
    gap: 10%;
    box-sizing: border-box;
}

.caixa__2__conteudo {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto; 
    gap: 2%;
}

.caixa__2__titulo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #FFFFFF;
    margin: 0% 70% 0% 0%;
    padding: 1%;
    width: 20%;
}

.caixa__2__titulo h1 {
    font-size: 1.5rem;
    margin: 0;
    color: black;
}

.caixa__2__conteudo__textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: auto;
    gap: 1%;
    color: #FFFFFF;
}

.caixa__2__conteudo__textos h2 {
    font-size: 4.0rem;
    margin: 0;
}

.caixa__2__conteudo__textos p {
    font-size: 2.0rem;
    margin: 0;
}

.caixa__2__conteudo__imagem {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

.caixa__2__conteudo img {
    width: 75%;
    height: auto;
}

.habilidades{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 20% 0% 0%;
    height: 450px;
    gap: 5%;
    box-sizing: border-box;
}

.habilidades__navegacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 91%;
    gap: 1.5rem;
}

.habilidades__navegacao__titulo {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 1%;
    width: 25%;
}

.habilidades__navegacao__titulo h1{
    font-size: 1.5rem;
    margin: 0;
    color: #000000;
}

.habilidades__navegacao__botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    width: 15%;
}

.habilidades__navegacao__botoes a{
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 10px;
    background-color: #FFFFFF;
}

.habilidades__navegacao__botoes a:hover{
    cursor: pointer;
    background-color: #8b8b8b;
}

.habilidades__slide {
    display: flex;
    align-items: center;
    width: 90%;
    height: 80%;
}

.habilidades__slide__icons {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 350px;
    transition: transform 0.3s ease;
    flex-shrink: 0;
}

.habilidades__slide__icons:hover {
    cursor: pointer;
    transform: scale(1.05);    /* efeito ao passar o mouse */
}

.habilidades__slide__icons__icon {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 200px !important;
    height: 180px !important;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.habilidades__slide__icons__icon img {
    width: 60%;
    height: auto;
    object-fit: contain;
}

.habilidades__slide__icons__texto {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 200px !important;
    height: 80px !important;
    background-color: #FFFFFF;
}

.habilidades__slide__icons__texto h2{
    font-size: 1.5rem;
    margin: 0;
    color: #000000;
}

.projetos {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20% 0% 0%;
    height: 542px;
    gap: 5%;
    box-sizing: border-box;
}

.projetos__navegacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 91%;
    gap: 1.5rem;
}

.projetos__navegacao__titulo {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 1%;
    width: 25%;
}

.projetos__navegacao__titulo h1{
    font-size: 1.5rem;
    margin: 0;
    color: #000000;
}

.projetos__navegacao__botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    width: 15%;
}

.projetos__navegacao__botoes a{
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 10px;
    background-color: #FFFFFF;
}

.projetos__navegacao__botoes a:hover{
    cursor: pointer;
    background-color: #8b8b8b;
}

.projetos__slide {
    display: flex;
    width: 91%;
    height: 90%;
}

.projetos__slide__container__container {
    width: 100%;
    height: 100%;
}

.projetos__slide__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    gap: 0.5rem;
}

.projetos__slide__container__img {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 1%;
    background-color: #FFFFFF;
}

.projetos__slide__container__img img{
    width: 100%;
    height: auto;
}

.projetos__slide__container__textos {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 1.0rem;
}

.projetos__slide__container__textos h1 {
    color: #FFFFFF;
    font-size: 3.4rem;
    margin: 0;
}

.projetos__slide__container__textos h2 {
    color: #FFFFFF;
    font-size: 1.5rem;
    margin: 0;
}

.projetos__slide__container__textos p {
    color: #FFFFFF;
    font-size: 1.5rem;
    margin: 0;
}

.projetos__slide__container__textos__botoes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    height: 30%;
}

.projetos__slide__container__textos__botoes a{
    width: 50%;
    height: 100%;
    text-align: center;
    background-color: #FFFFFF;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.projetos__slide__container__textos__botoes a:hover{
    transform: scale(1.05);
}

.projetos__slide__container__textos__botoes p{
    color: #000000;
    text-align: center;
}

.contatos {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20% 0% 20%;
    height: 500px;
    gap: 5%;
    box-sizing: border-box;
}

.contatos__navegacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 91%;
    gap: 1.5rem;
}

.contatos__navegacao__titulo {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 1%;
    width: 25%;
}

.contatos__navegacao__titulo h1{
    font-size: 1.5rem;
    margin: 0;
    color: #000000;
}

.contatos__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 90%;
    gap: 1.5rem;
}

.contatos__links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    align-items: center;
    background-color: #FFFFFF;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.contatos__links a:hover{
    transform: scale(1.05);
}

.contatos__links p{
    color: #000000;
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
}

:host ::ng-deep .owl-carousel {
    height: 100% !important;
}

:host ::ng-deep .owl-stage-outer {
    height: 100% !important;
}

:host ::ng-deep .ng-star-inserted {
    display: flex;
    align-items: center;
}

:host ::ng-deep .owl-stage {
    height: 100% !important;
}

owl-carousel-o {
    display: block;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

@media (max-width: 1100px) {

    .caixa__2 {
        height: 500px;
    }
     
    .caixa__2__conteudo__textos h2 {
        font-size: 3.5rem;
    }

    .caixa__2__conteudo__textos p {
        font-size: 1.5rem;
    }

    .habilidades__navegacao__titulo {
        width: 28%;
    }

    .habilidades__navegacao__titulo h1{
        font-size: 1.5rem;
    }

    .projetos__slide__container__textos {
        gap: 0.6rem;
    }

    .projetos__slide__container__textos h1 {
        font-size: 2.2rem;
    }

    .projetos__slide__container__textos h2 {
        font-size: 1.4rem;
    }

    .projetos__slide__container__textos p {
        font-size: 1.2rem;
    }

}

@media (max-width: 900px) {
     
    .caixa__2__conteudo__textos h2 {
        font-size: 3.0rem;
    }

    .caixa__2__conteudo__textos p {
        font-size: 1.5rem;
    }

    .habilidades__navegacao__titulo {
        width: 40%;
    }

    .projetos__slide__container__textos {
        gap: 0.6rem;
    }

    .projetos__slide__container__textos h1 {
        font-size: 2.0rem;
    }

    .projetos__slide__container__textos h2 {
        font-size: 1.2rem;
    }

    .projetos__slide__container__textos p {
        font-size: 1.2rem;
    }
}

@media (max-width: 800px) {

    .cabecalho__menu {
        justify-content: flex-end;
    }

    .cabecalho__menu__links {
        display: none;
    }

    .navbar-toggler{
        display: flex;
    }

    .offcanvas-title {
        color: #000000;
        font-size: 2.5rem;
    }

    .nav-link {
        font-size: 1.5rem;
    }

    .caixa__1__titulo {
        width: 80%;
    }
    
    .caixa__2 {
        height: 1000px;
        gap: 5%;
    }

    .caixa__2__conteudo {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 80%;
    }

    .caixa__2__conteudo__imagem {
        display: flex;
        justify-content: center;
    }

    .caixa__2__conteudo__imagem img{
        width: 100%;
    }

    .caixa__2__conteudo__textos {
        width: 100%;
        height: 70%;
        gap: 1.5rem;
    }

    .caixa__2__conteudo__textos h2 {
        text-align: center;
        font-size: 4.0rem;
    }

    .caixa__2__conteudo__textos p {
        text-align: center;
        font-size: 2.0rem;
    }

    .habilidades__slide__carousel {
        display: flex;
        height: 450px;
    }

    .habilidades__slide__carousel__slide{
        display: flex;
        height: 450px;
    }

    .projetos {
        height: 900px;
    }

    .projetos__navegacao__titulo {
        width: 35%;
    }

    .projetos__slide__container {
        flex-direction: column;
    }

    .projetos__slide__container__textos {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%;
    }

    .projetos__slide__container__img {
        width: 80%;
        height: auto;
    }

    .projetos__slide__container__textos {
        width: 100%;
        gap: 6%;
    }

    .projetos__slide__container__textos h1{
        font-size: 4.5rem;
    }

    .projetos__slide__container__textos h2{
        font-size: 2.5rem;
    }

    .projetos__slide__container__textos p{
        text-align: center;
        font-size: 1.5rem;
    }

    .projetos__slide__container__textos__botoes {
        width: 80%;
        height: 15%;
    }

    .projetos__slide__container__textos__botoes a{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contatos__navegacao__titulo {
        width: 35%;
    }

    :host ::ng-deep .owl-carousel {
        height: 100% !important;
    }

    :host ::ng-deep .owl-stage-outer {
        height: 100% !important;
    }

    :host ::ng-deep .ng-star-inserted {
        height: 100%;
    }

    :host ::ng-deep .owl-stage {
        height: 792.625px !important;
    }

}

@media (max-width: 650px) {

    .caixa__2__conteudo__textos {
        width: 100%;
        height: 70%;
        gap: 1.5rem;
    }

    .caixa__2__conteudo__textos h2 {
        text-align: center;
        font-size: 3.5rem;
    }

    .caixa__2__conteudo__textos p {
        text-align: center;
        font-size: 1.5rem;
    }

    .habilidades__navegacao__botoes {
        width: 25%;
    }

    .habilidades__slide__carousel {
        display: flex;
        height: 550px;
        margin: 0;
    }

    .habilidades__slide__carousel__slide{
        display: flex;
        height: 550px;
        margin: 0;
    }

    .projetos {
        height: 900px;
    }

    .projetos__navegacao__titulo {
        width: 35%;
    }

    .projetos__navegacao__botoes {
        width: 25%;
    }

    .projetos__slide__container__textos {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%;
    }

    .projetos__slide__container__textos {
        width: 100%;
        gap: 2%;
    }

    .projetos__slide__container__textos h1{
        font-size: 3.8rem;
    }

    .projetos__slide__container__textos h2{
        font-size: 2.0rem;
    }

    .projetos__slide__container__textos p{
        text-align: center;
        font-size: 1.5rem;
    }
    
}

@media (max-width: 600px) {

    .caixa__2 {
        height: 900px;
    }

    .caixa__2__titulo {
        margin: 0% 60% 0% 0%;
        width: 30%;
    }

    .habilidades__navegacao__titulo {
        margin: 0% 10% 0% 0%;
        width: 100%;
    }

    .habilidades__navegacao__titulo h1{
        text-align: center;
        font-size: 1.2rem;
    }

    .habilidades__navegacao__botoes {
        width: 35%;
    }

    .projetos__navegacao__titulo {
        display: flex;
        align-items: center;
        margin: 0% 10% 0% 0%;
        width: 100%;
    }

    .projetos__navegacao__titulo h1{
        text-align: center;
        font-size: 1.2rem;
    }

    .projetos__navegacao__botoes {
        width: 35%;
    }

    .projetos__slide__container__img {
        width: 100%;
    }

    .projetos__slide__container__textos h2{
        font-size: 1.2rem;
    }

    .projetos__slide__container__textos p{
        font-size: 1.4rem;
    }

    .projetos__slide__container__textos__botoes {
        flex-direction: column;
        width: 80%;
        height: 25%;
        gap: 8%;
    }

    .projetos__slide__container__textos__botoes a{
        width: 100%;
    }

    .contatos__navegacao__titulo {
        margin: 0% 60% 0% 0%;
        width: 50%;
    }

    .contatos__navegacao__titulo h1{
        text-align: center;
        font-size: 1.5rem;
    }
}
