.dialog-container {
  padding: 20px;
  border-radius: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 250px;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}

.close-button {
  align-self: flex-end;
}

.link-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.button-link {
  text-decoration: none;
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button-link:hover {
  background-color: #383838;
}
