/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jersey 25', sans-serif;
    background-color: black;
}


html, body { height: 100%; }
body { margin: 0; font-family: 'Jersey 25', sans-serif !important; }
